.item-page {
    position: relative;

    h2 {
        margin-left: 0;
    }
}

.chart-wrapper {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chart_div {
    height: 300px;
    width: 65vw;

    .chart-loader{
        position: relative;
        display:flex;
        justify-content: center;
        height: 300px;
    
        .circle-notch-icon{
            position: absolute;
            top: 50%;
            margin-top: -18px
        }
    }
}

