.gallery-item {
    &.item-block {
        width: 25vw;
        margin: 0 20px 60px 0;
        cursor: unset;

        &:hover {
            filter: unset
        }

        & .fav-tag {
            cursor: pointer;
        }
    }
}