.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #233;
    padding: 20px 60px;
    position:fixed;
    z-index:100;

    @media screen and (max-width:900px) {
      padding: 20px;
    }

    .hdr-option {
      cursor: pointer;
    }
  }
  