.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #233;
    padding: 20px 60px;
    position:fixed;
    z-index:100;

    @media screen and (max-width:900px) {
      padding: 20px;
    }

    & .hdr-left, & .hdr-right {
      display: flex;
    }

    .hdr-home, .hdr-back, .hdr-option {
      cursor: pointer;
    }

    .hdr-right .hdr-option {
      margin-left: 20px;
      line-height: 24px;
    }

    .hdr-right .star-solid-icon {
      height: 24px;
    }
  
    .title {
      color: #feb;
      font-size: 25px;
      font-weight: 600;
      text-transform: capitalize;
      @media screen and (max-width:900px) {
          font-size: 20px;
      }
    }
}
  