#home-icon{
        height: 24px;
        width: 24px;
        fill: #feb;
    }
#back-icon{
    height: 24px;
    width: 24px;
    fill: #feb;
}

.star-icon, .star-solid-icon{
    color: #feb;
    height: 18px;
}