body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 60px;
  background-color: #222;
  color: #eee;
}

a {
  text-decoration: none;
  color: #eee;
}

*, *:before, *:after {

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}