.gallery-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-item{
    .the-dark-roast {
        font-family: 'Kaushan Script', sans-serif;
        font-size: 24px;
        line-height: 40px;
    }
    .arabica-nights {
        font-family: 'Permanent Marker', sans-serif;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
    }
    .coffeehead {
        font-family: 'Kaushan Script';
        font-size: 30px;
        line-height: 40px;
    }
    .the-ground-lore {
        font-family: 'Permanent Marker', sans-serif;
        font-size: 18px;
    }
    .fresh-pot {
        font-family: 'Caveat';
        font-size: 40px;
        line-height: 48px;
    }
    .the-shelter-forsaken {
        font-family: 'Permanent Marker', sans-serif;
        text-align: center;
    }
    .wicked-grim {
        font-family: 'Permanent Marker', sans-serif;
        font-size: 22px;
    }
    .sullen-mist {
        font-family: 'Caveat';
        font-size: 36px;
    }
    
}